/* Reseta as margens e aplica uma fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /* Habilita rolagem vertical */
    scroll-behavior: smooth;
    /* Suaviza a rolagem */
    scrollbar-color: #ffffff79 #474649a0;
    /* Cor da barra e do trilho */
    scrollbar-width: thin;
    /* Define a largura como fina */
}

/* Fundo e gradiente apenas para a seção de introdução */
#inicio {
    position: relative;
    min-height: 100vh;
    /* Garante que ocupa a tela inteira */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../imgs/galaxia.png') no-repeat center center;
    /* Alinha a imagem */
    background-size: cover;
    /* Garante que a imagem cobre toda a tela */
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Dá profundidade ao texto */
    padding: 80px 20px;
    border-top: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


#inicio .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 0;
    /* Colocado abaixo do conteúdo da seção */
}

#inicio .center-text {
    position: relative;
    z-index: 1;
    /* Colocado acima do gradiente */
    text-align: center;
}

#inicio h1 {
    font-size: 3rem;
    /* Tamanho do título */
    margin-bottom: 1rem;
    /* Espaçamento abaixo do título */
}

#inicio p {
    font-size: 1.5rem;
}

/* Filtro gradiente */
.gradient-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 80px, rgba(0, 0, 0, 0));
    z-index: 0;
    /* Acima da imagem de fundo */
}

/* Texto central */
.center-text {
    position: relative;
    z-index: 1;
    /* Acima do filtro */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    /* Dá profundidade ao texto */
    top: 50%;
    /* Centraliza verticalmente */
    transform: translateY(-50%);
    /* Ajusta para o meio exato */
}

.center-text h1 {
    font-size: 3rem;
    /* Tamanho do título */
    margin-bottom: 1rem;
    /* Espaçamento abaixo do título */
}

.center-text p {
    font-size: 1.5rem;
    /* Tamanho do texto secundário */
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #000000;
    /* #190009 */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
}

/* Navegação */
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.left-link {
    margin-right: auto;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

a {
    display: flex;
    align-items: center;
}

.right-links {
    display: flex;
    gap: 15px;
}

.right-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    /* Efeito de transição ao passar o mouse */
}

.right-links a:hover {
    color: #a86b82;
    /* Cor laranja no hover */
}

/* Estilo padrão: links do cabeçalho visíveis, hambúrguer escondido */
.nav-links .right-links {
    display: flex;
    /* Exibe os links normalmente */
    gap: 15px;
    /* Espaçamento entre os links */
}

.nav-links .menu-icon {
    display: none;
    /* Esconde o ícone hambúrguer por padrão */
}

.menu-dropdown {
    display: none;
    /* Esconde inicialmente */
    position: absolute;
    top: 80px;
    /* Abaixo do cabeçalho */
    right: 20px;
    background-color: #000;
    border-radius: 8px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    z-index: 1001;
    /* Fica acima de outros elementos */
    opacity: 0;
    /* Invisível inicialmente */
    transform: translateY(-20px);
    /* Move para cima inicialmente */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Animação suave */
}

/* Quando o menu é exibido */
.menu-dropdown.show {
    display: flex;
    /* Torna o menu flexível */
    opacity: 1;
    /* Torna visível */
    transform: translateY(0);
    /* Volta à posição original */
}

.menu-dropdown a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
    /* Transição de fundo ao passar o mouse */
}

.menu-dropdown a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Quando a tela for menor que 900px */
@media screen and (max-width: 900px) {
    .nav-links .right-links {
        display: none;
        /* Esconde os links principais */
    }

    .nav-links .menu-icon {
        display: block;
        /* Mostra o ícone do menu hambúrguer */
        font-size: 2rem;
        cursor: pointer;
        color: white;
    }

    /* Ajusta o tamanho das fontes na seção #inicio */
    #inicio h1 {
        font-size: 2rem;
        /* Reduz o tamanho do título */
    }

    #inicio p {
        font-size: 1rem;
        /* Reduz o tamanho do texto secundário */
    }
}

@media screen and (max-width: 600px) {

    /* Ajusta o tamanho das fontes na seção #inicio */
    #inicio h1 {
        font-size: 1.7rem;
        /* Reduz o tamanho do título */
    }

    #inicio p {
        font-size: 0.6rem;
        /* Reduz o tamanho do texto secundário */
    }
}

/* Seções adicionais */
.section {
    padding: 80px 20px;
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f4f4;
    color: #333;
    border-top: 2px solid #ddd;
    padding: 20px;
    padding-top: 90px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%
}

.section:nth-child(even) {
    background-color: #eaeaea;
    /* Alterna o fundo entre as seções */
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
}

/* Efeitos responsivos */
@media screen and (max-width: 900px) {
    .logo_img {
        width: 25vh;
    }
}

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 9vh;
    }
}

@media screen and (max-width: 450px) {
    .titulo {
        font-size: 50px;
    }
}

.text-effect {
    display: inline-block;
    border-right: 2px solid white;
    /* Adiciona o cursor */
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    /* Tamanho ajustável */
    animation: blink-cursor 0.5s step-end infinite;
    /* Cursor piscando */
}

@keyframes blink-cursor {
    0% {
        border-color: white;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: white;
    }
}

/* Estilo geral da scrollbar */
::-webkit-scrollbar {
    width: 12px;
    /* Largura da scrollbar */
}

/* Trilho da scrollbar */
::-webkit-scrollbar-track {
    background: #130325;
    /* Fundo escuro, baseado no tom inicial */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* Barra deslizante */
::-webkit-scrollbar-thumb {
    background: #220438;
    /* Um tom mais vibrante e visível */
    border-radius: 10px;
    /* Bordas arredondadas */
    border: 2px solid #130325;
    /* Cria um efeito de separação com o trilho */
}

/* Barra deslizante ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #2B0A42;
    /* Um tom ainda mais vibrante para interação */
}

/* Estiliza o container da seta */
.container-seta {
    position: absolute;
    bottom: 20px;
    /* Alinha no final da seção com uma margem de 20px */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Corrige o deslocamento do centro */
    text-align: center;
    text-decoration: none;
    color: white;
    /* Define a cor da seta e do texto como branco */
    font-size: 1.5rem;
    /* Ajusta o tamanho do texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    /* Garante que esteja acima do gradiente */
}

/* Estiliza o ícone da seta */
.container-seta i {
    font-size: 1.5rem;
    /* Tamanho da seta */
    transition: transform 0.3s ease;
    /* Animação ao passar o mouse */
}

/* Hover na seta */
.container-seta:hover i {
    transform: translateY(5px);
    /* Move levemente a seta para baixo ao passar o mouse */
}

/* Texto do botão "Resumo" */
.container-seta #titleProj {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

/* Estilo para a seção de resumo */
#resumo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;

}

.resumo-content {
    display: flex;
    flex-direction: row;
    /* Padrão: lado a lado */
    align-items: center;
    /* Alinha os itens no centro verticalmente */
    justify-content: space-around;
    /* Posiciona foto e texto nas extremidades */
    width: 100%;
    margin-top: 20px;
    gap: 20px;
    /* Espaçamento entre os itens */
}

/* Estilo para a foto */
.resumo-foto img {
    max-width: 70vh;
    width: 100%;
    height: auto;
    border-radius: 50%;
    /* Torna a imagem redonda */
    border: 4px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o texto */
.resumo-texto {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
    text-align: justify;
    padding: 0 20px;
    width: 800px;
}

@media screen and (max-width: 1100px) {
    .section h2 {
        font-size: 2rem;
    }

    .section {
        padding: 30px 10px;
    }

    .resumo-content {
        flex-direction: column;
        /* Empilha a imagem e o texto verticalmente */
        align-items: center;
        /* Centraliza os itens horizontalmente */
        gap: 10px;
        /* Aumenta o espaçamento entre os elementos */
        margin-top: 0px;
    }

    .resumo-foto img {
        width: 40vw;
        /* Ajusta o tamanho da imagem para telas menores */
    }

    .resumo-texto {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    .formacao-detalhes{
        flex-direction: column;
        align-content: center;
    }
}

@media screen and (max-width: 700px) {
    .resumo-foto img {
        width:280px;
        /* Ajusta o tamanho da imagem para telas menores */
    }
    .resumo-texto p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .section h2 {
        font-size: 1.7rem;
    }
    .nav-links a {
        font-size: 1.7rem;
    }
    .resumo-foto img {
        width:200px;
        /* Ajusta o tamanho da imagem para telas menores */
    }
    .resumo-texto p {
        font-size: 0.7rem;
    }
}

h2 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: left;
}

.formacao-detalhes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.formacao-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.33% - 20px);
    /* Três cartões lado a lado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.formacao-item h3 {
    margin-top: 0;
    color: #333;
    /* Texto preto */
}

.formacao-item p {
    margin: 5px 0;
    color: #555;
    line-height: 1.5;
}

.formacao-imagem {
    margin-top: 10px;
    text-align: center;
}

.formacao-imagem img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 1px solid #ccc;
}

@media screen and (max-width: 1100px) {
    .formacao-item {
        width: 80%;
        flex-direction: row;
        gap: 10px;
    align-content: center
    }
    .formacao-imagem {
        width: 35vh;
    }
    .formacao-imagem img {
        width: 30vh;;
    }
}

@media screen and (max-width: 700px) {
    .formacao-item h3 {
        font-size: 1rem;
    }
    .formacao-item p {
        font-size: 0.7rem;
    }
    .formacao-imagem {
        width: 20vh;
    }
    .formacao-imagem img {
        width: 20vh;;
    }
}

@media screen and (max-width: 500px) {
    .formacao-item h3 {
        font-size: 1rem;
    }
    .formacao-item p {
        font-size: 0.7rem;
    }
    .formacao-imagem {
        width: 40%;
    }
    .formacao-imagem img {
        width: 100%;
    }
    .formacao-item{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap:5px;
    }
    .formacao-imagem{
        margin: 0;
    }
}


.carrossel {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.carrossel::-webkit-scrollbar {
    height: 8px;
}

.carrossel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.carrossel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.carrossel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.projeto-card {
    flex: 0 0 calc(30% - 20px);
    /* Espaçamento dinâmico entre os cards */
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.projeto-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.projeto-imagem {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.projeto-card h3 {
    margin: 10px 0 5px;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

.projeto-card p {
    margin: 5px 10px 15px;
    color: #555;
    font-size: 0.95em;
    line-height: 1.4;
}

.descricao-projeto {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1em;
}

.descricao-projeto-expandida {
    margin-top: 20px;
    border-radius: 8px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.descricao-projeto-expandida h3 {
    text-align: center;
}

.descricao-projeto-expandida a {
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    justify-content: center
}

.descricao-projeto-expandida a:hover {
    text-decoration: underline;
}

.descricao-projeto-expandida img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

/* Estilo geral do carrossel */
.carrossel {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.carrossel::-webkit-scrollbar {
    height: 8px;
}

.carrossel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.carrossel::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.carrossel::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.publicacao-card {
    flex: 0 0 calc(30% - 20px);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.publicacao-card:hover {
    transform: scale(1.05);
}

.publicacao-imagem {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.publicacao-card h3 {
    margin: 10px 0 5px;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

.publicacao-card p {
    margin: 5px 10px 15px;
    color: #555;
    font-size: 0.95em;
    line-height: 1.4;
}

/* Descrição abaixo do carrossel */
.descricao-publicacao {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: 1em;
}

.descricao-publicacao-expandida {
    margin-top: 20px;
    border-radius: 8px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

/* Responsividade */
@media (max-width: 1100px) {
    .projeto-imagem {
     height: 250px;
 }
}

/* Para dispositivos menores */
@media (max-width: 900px) {
 .projeto-card {
     flex: 0 0 45%;
 }       
 .projeto-imagem {
     height: 200px;
 }
}

@media (max-width: 700px) {
 .projeto-card {
     flex: 0 0 45%;
 }       
 .section p {
     font-size: 0.7rem;
 }      
 .section h3 {
     font-size: 1rem;
 }
 .section a {
     font-size: 0.7rem;
 }
 #projetos{
     min-height: 700px;
     height: 700px;
 }
}

@media (max-width: 500px) {
 .projeto-card {
     flex: 0 0 60%;
 }       
 .projeto-imagem {
     height: 150px;
 }
}

.complementar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px 10px;
}

/* Estilização dos itens */
.complementar-item {
    display: flex;
    align-items: center;
    gap: 15px;
    /* Espaço entre ícone e texto */
    flex: 1 1 calc(33.333% - 20px);
    /* 3 colunas */
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.complementar-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Ícone */
.complementar-icone a {
    font-size: 2rem;
    color: #7e012f;
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

.complementar-icone a:hover {
    color: #0056b3;
}

/* Detalhes */
.complementar-detalhes h3 {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}

.complementar-detalhes p {
    font-size: 0.7rem;
    color: #555;
    line-height: 1.6;
}

/* Responsividade */
@media (max-width: 1024px) {
    .complementar-item {
        flex: 1 1 calc(50% - 20px);
        /* 2 colunas */
    }
}

@media (max-width: 768px) {
    .complementar-item {
        flex: 1 1 100%;
        /* 1 coluna */
    }
}

.contato-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contato-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Adiciona a centralização horizontal */
    height: 100%;
    /* Garante que ocupa toda a altura disponível */
    width: 100%;
    /* Opcional, para ocupar também a largura total */
    flex-direction: column;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.redes a {
    font-size: 1.5rem;
    color: #7e012f;
    text-decoration: none;
    transition: color 0.3s ease;
}

.redes a:hover {
    color: #0073e6;
    /* Cor do hover */
}


@media (max-width: 1100px) {
    .publicacao-imagem {
     height: 200px;
 }
 #complementar{
    max-height: none;
    height: 1200px;
}

}

/* Para dispositivos menores */
@media (max-width: 900px) {
    #complementar{
        height: 1200px;
    }
}

@media (max-width: 800px) {
    #complementar{
        height: 1300px;
    }
}

@media (max-width: 770px) {
    #complementar{
        height: 1700px;
    }
}

@media (max-width: 650px) {
    #complementar{
        height: 1900px;
    }
}

@media (max-width: 500px) {
    #complementar{
        height: 2000px;
    }
}

@media (max-width: 450px) {
    #complementar{
        height: 2200px;
    }
}

@media (max-width: 400px) {
    #complementar{
        height: 2300px;
    }
}